#container{
    width: 400px;
    background-color: #EEEEEE;
    padding: 20px;
    border-radius: 20px;
}
input {
    border-radius: 5px;
    margin: 2px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.list {
    margin: 15px 0;
}
.list > li {
    border-radius: 5px;
    background-color: #DBDBDB;
    padding: 5px;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between; 
}
.btn{
    display: flex;
    justify-content: flex-end;
    padding: 5px 0;
}
.btn > button {
    border-radius: 5px;
    padding: 5px;
    width: 60px;
}
div > h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}